# Default ignored files
/../../HomeWork-12.K.R./.idea/shelf/
/../../HomeWork-12.K.R./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../HomeWork-12.K.R./.idea/httpRequests/
# Datasource local storage ignored files
/../../HomeWork-12.K.R./.idea/dataSources/
/../../HomeWork-12.K.R./.idea/dataSources.local.xml
